<head>
    <title>{% block title %}Profile{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/ogclub/css/default.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
</head>
{% include 'OGClubBundle:Components:nav.html.twig' %}
<body style="background-image: none;">
	<div class="wrapper" align="center">

		<p>
			Current profile picture:<br><br>
			<img src="{{ asset ('bundles/ogclub/images/'~picture~'') }}" 
				alt="Profile" 
				height="200px" 
				width="200px"
			/> <!-- Show the profile picture the user currently has set -->
		</p>
		<p>
			<form name="Image" enctype="multipart/form-data" action="" method="POST"> <!-- Form to upload a new picture -->
				<input type="file" name="Photo" size="2000000" accept="image/jpg, image/jpeg, image/png, image/x-png" size="26"></input> <!-- File upload submission button -->
				<input type="submit" class="button" name="image" value="Submit"></input> <!-- Submit button -->
				<input type="reset" class="button" value="Cancel"></input> <!-- Cancel/Clear button -->
			</form>
		</p>
        {% block error %}
        <p style="color: {{ color }}">
            {{ error }}
        </p>
        {% endblock %}
        <br><br><br>
        <p>
            I want to receive a Yo every time someone posts to the page. My username is:
            <form name="Yo" action="" method="POST">
                <input type="text" name="yoname" style="text-transform:uppercase" placeholder="{{ yo | default("Yo Username")}}"></input>
                <input type="submit" class="button" name="yo" value="Submit"></input> <!-- Submit button -->
            </form>
        </p>
	</div><!-- end main --> 
    {% block javascripts %}
        {% javascripts '@OGClubBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>