<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>{% block title %}Success{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset ('css/default.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
		<script src="js/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script> <!-- Gotta import that jquery -->
	</head>
	<body style="background-image: none;">
		<div id="main">
			<p>
				Successfully authenticated user: <h1><b>{{ name }}<b><h1><!-- Displaying that they were successfully authenticated -->
			</p>
			<p style="font-size:22px; text-decoration:none">
				<a href="{{ path('profile') }}"><button class="turquoise-flat-button">Profile</button></a> <!-- Button to go to the profile page (profile.php) -->
			</p>
			<p style="font-size:22px; text-decoration:none">
				<a href="{{ path('main') }}"><button class="turquoise-flat-button">Main Board</button></a> <!-- Button to go to the comments page (comments.php) -->
			</p>
			<p style="font-size:22px; text-decoration:none">
				<a href="{{ path('progress') }}"><button class="turquoise-flat-button">Progress</button></a> <!-- Link to the stuff that is currently in progress on the site (progress.php) -->
			</p>
			<p style="font-size:22px; text-decoration:none">
				<a href="{{ path('logout') }}"><button class="turquoise-flat-button" style="background:#FC4144">Log Out</button></a> <!-- Opens the logout.php to sign the user out of the site -->
			</p>
		</div><!-- end main -->

		<div id="sidebar">
			<h1 style="text-align:center">Activity</h1>
			<hr style="color:black" noshade>
            
            {% for act in activity %}
    			<div class="activity">
    				<p class="element">
                        <a class="elem" style="text-decoration:none;color:#000" href="{{ act.server }}"></a>
                        {{ act.message }}
                        <br>
                        <span style="font-size:12px;color:#494949"> {{ act.time }}</span>
                    </p>
    			</div>
    			<hr class="activity" style="color:black" noshade>
            {% else %}
			    <div class="activity">
				    <p class="element" style="text-align:center"> No recent activity. Feel free to post! </p>
			    </div>
            {% endfor %}
            
            <!-- Spacer. Cheap, I know.-->
			<div class="activity">
			    <p class="element"></p>
			</div>
			<div class="replacement">
			    <p class="element" id="replace" style="text-align:center"></p>
			</div>
            <!-- End Spacer-->
            
		</div>
        {% if activity is not empty %}    
    		<div id="sidebar-footer">
    			<p style="font-size:22px;text-decoration:none;margin:0;">
            		<a style="text-decoration:none" href="#" onclick="remove_activity(); return false;">
            		    <button class="mark-button activity">Mark All As Read</button>
                    </a>
    			</p>
            </div>
        {% endif %}
        
		<div id="notifications">
			<h1 style="text-align:center">Notifications</h1>
			<hr style="color:black" noshade>
            
            {% for notif in notifications %}
                <div class="notif">
					<p class="notif">{{ notif.message }}<br></p>
                </div>
			    <hr class="notif" style="color:black;padding:0" noshade>
            {% else %}    
    			<div class="notif">
    				<p class="notif" style="text-align:center;margin:0"> Nothing here! </p>
                </div>
            {% endfor %}
            
            <!-- Spacer. Cheap, I know.-->
            <div class="notif">
			    <p class="notif"></p>
			</div>
			<div class="replacement">
			    <p class="element" id="replace_notif" style="text-align:center"></p>
			</div>
             <!-- End Spacer-->
             
        {% if notifications is not empty %}         
		</div>
			<div id="notbar-footer">
			<p style="font-size:22px;text-decoration:none;margin:0;">
			    <a style="text-decoration:none" href="#" onclick="remove_notifs(); return false;">
                    <button class="mark-button notif">Mark All As Read</button>
                </a>
			</p>
        </div>
        {% endif %}
	</body>
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
</html>